section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header nav {
    display: flex;
    justify-content: space-between;
}

img {
    width: 7cm;
    height: auto;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

li {
    margin: 10px;
}

.site-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.one {
    flex-direction: row;
    justify-content: space-between;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.figs {
    display: flex;
    flex-wrap: wrap;

}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5cm;
    height: auto;
}

figure img {
    border-radius: 25px;
    border: 2px solid #7903ff;
    padding: 20px;
    width: 200px;
    height: 150px;
    margin: 5px;
}

.three {
    background-color: rgb(205, 202, 202);
    display: flex;
    justify-content: center;
}

.four {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bottom-block {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: center;
}

img {
    width: 5cm;
    height: auto;
}

header,
.one {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 18px;
}

h1 {
    font-size: 48px;
    font-weight: 1000;
}